header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .logo a {
    margin-left: 5px;
    margin-right: 40px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav {
    margin-right: 140px;
}

header nav a {
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #ffffff;
}

header .search-form {
    position: relative;
    transform: translate(-50%, 0);
    background: none;
    height: 18px;
    border-radius: 40px;
}

header .search-form:hover > #search-txt {
    width: 240px;
    padding: 0.6px;
}

header #search-btn {
    color: red;
    float: left;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: none;
    margin-right: 10px;
}

header #search-txt {
    border:none;
    background: none;
    outline: none;
    float: right;
    padding: 0%;
    color: white;
    font-size: 14px;
    transition: 0.4s;
    line-height: 0px;
    width: 0px;
}



.carrosel-filmes {
    margin-top: 5px;
    margin-left: 10px;
}

.carrosel-filmes .a {
    margin-top: 3%;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Arial, sans-serif; 
}

.box-filme {
    height: 100%;
    width: 100%;
    display: block;
    cursor: pointer;
}

.item:hover {
    transition: all 300ms ease-in-out;
    transform: scale(0.8);
    z-index: 1;
  }